{% extends 'myapp/base.html' %}
<!--{# эта строка позволяет скопировать все из файла base.html #}-->

{% block content %}

<h1>{{titel}}</h1>
Машины:
<table id="cars" border="2">
    <th>id</th>
    <th>Марка</th>
    <th>Модель</th>
    <th>Цвет</th>
    <th>Мощность</th>
    <th>Год</th>
{% for car in cars %}
      <tr>
            <td align="center" >{{car.id}}</td>
            <td align="center">{{car.brand}}</td>
            <td align="center">{{car.model}}</td>
            <td align="center">{{car.color}}</td>
            <td align="center">{{car.power}}</td>
            <td align="center">{{car.year}}</td>
      </tr>
{% endfor %}

</table>
{% if user.is_staff %}
<p><a href="{% url 'myapp:add_car' %}">Добавить машину</a></p>
{% endif %}
<!-- 2 видео от 6.07 30 минута -->
{% endblock %}