{% extends 'main/base.html' %}
<!--{# эта строка позволяет скопировать все из файла base.html #}-->
 
{% block content %}
<h1>{{title}}</h1>
Содержимое страницы Сотрудники

<table id="employeey" border="2">
    <th>id</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Дата рождения</th>
    <th>Должность</th>
    <th>Образование</th>

    {% for emp in page_obj %}
         <tr>
            <td align="center" >{{emp.id}}</td>
            <td align="center">
                <a href="{% url 'myapp:employee_detail' pk=emp.id %}">{{emp.firstname}}</a>
<!-- создает ссылку, emp-переменнная цикла  -->

            </td>
            <td align="center">{{emp.lastname}}</td>
            <td align="center">{{emp.birthday}}</td>
            <td align="center">{{emp.position}}</td>
            <td align="center">{{emp.education}}</td>
         </tr>
{% endfor %}

</table>
Количество - {{count}}


<p><a href="{% url 'myapp:employee_form' %}">Добавить сотрудника</a></p>


<div class="pagination">
    <span class="step-links">
    <!-- 1 видео от 4.07 - 1:12:00- объяснение,
      если объект страницы имеет предыдущие записи то выводятся ссылки...-->
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; В начало </a>
            <a href="?page={{ page_obj.previous_page_number }}"> << Предыдущая</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующая/next >> </a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя/last &raquo; </a>
        {% endif %}
    </span>
</div>
{% endblock %}