{% extends 'main/base.html' %}
<!--{# эта строка позволяет скопировать все из файла base.html #}-->

{% block content %}
<h1>{{title}}</h1>
<ul>
  <li>Имя - {{employee.firstname}}</li>
  <li>Фамилия - {{employee.lastname}}</li>
  <li>Дата рождения - {{employee.birthday}}</li>
  <li>Должность - {{employee.position}}</li>
  <li>Образование - {{employee.education}}</li>
</ul>

<!-- добавляем кнопки на страницу где,
 pk первичный ключ записи который добавляем/удаляем -->

<a href="{% url 'main:employee_update' pk=employee.id %}"> Изменить </a>
<p><a href="{% url 'main:employee_delete' pk=employee.id %}"> Удалить </a></p>
{% endblock %}